body {
    background-color: #0b1220;
    color: #ffffff;
  }

  .main-navbar {
    position: relative;
    transition: all 0.3s ease;
    z-index: 999;
  }

  /* Sticky state */
  .main-navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(11, 18, 32, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

  /* LOGO */
  .logo {
    background: #19c37d;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000;
  }

  /* HERO SECTION */
  .hero-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  /* BUTTON FIX */
  .btn-outline-secondary {
    border-color: #334155;
    color: #ffffff;
  }

  .btn-outline-secondary:hover {
    background-color: #334155;
  }

  /* IMAGE */
  .hero-img {
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }


  /* SECTION */
  .featured-section {
    padding: 50px 0;
    background: linear-gradient(180deg, #0b1220, #0e1627);
  }

  /* FILTER BUTTONS */
  .filter-btn {
    background: #1e293b;
    border: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
  }

  .filter-btn.active {
    background: #19c37d;
    color: #000;
  }

  /* CARD */
  .work-card {
    background: #111827;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
  }

  .work-card:hover {
    transform: translateY(-6px);
  }

  /* IMAGE */
  .work-img {
    height: 220px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* CONTENT */
  .work-content {
    padding: 20px;
  }

  .work-content h5 {
    font-weight: 600;
  }

  .work-content p {
    color: #9ca3af;
    font-size: 14px;
  }

  /* HIDE */
  .hide {
    display: none;
  }

  .contact-section {
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
    color: #fff;
  }

  /* Contact Cards */
  .contact-card {
    background: #1b2432;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    border-color: unset;
  }

  .contact-card:hover {
    transform: translateY(-5px);
  }

  /* Icon */
  .icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #19c37d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    text-decoration: none;
  }